// Win
// Copyright (c) 2014-2024 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2014-2024 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/Win/Library.rh>
#include <XYO/Win/Copyright.rh>
#include <XYO/Win/Version.rh>

XYO_APPLICATION_VERSION_INFO(XYO_WIN,"xyo-win.dll","XYO Win")
